*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.6em;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

.card-container{
  background-color: white;
  display: flex;
}

.question {
  display: flex;
  align-items: center;
  padding: .5em;
}

